/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* COLORS */
:root {
  --primary: #0d47a1;
  --secondary: #ff9800;
  --dark: #111;
  --light: #f5f5f5;
  --white: #fff;
}

html,
body {
  overflow-x: hidden;
}

/* GLOBAL */
body {
  background: var(--light);
}

/* ========================= */
/* NAVBAR */
/* ========================= */

.navbar{
  width: 100%;
  height: 90px;
  background: rgba(10, 35, 90, 0.95);
  backdrop-filter: blur(12px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 7%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  border-bottom: 1px solid rgba(255,255,255,0.1);

  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

/* LOGO */

.logo{
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.logo-text h2{
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.logo-text span{
  color: #d9d9d9;
  font-size: 13px;
  letter-spacing: 1px;
}

/* NAV LINKS */

.nav-menu{
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-menu a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.nav-menu a::after{
  content: "";
  position: absolute;

  width: 0%;
  height: 2px;

  background: #ffa500;

  left: 0;
  bottom: -6px;

  transition: 0.3s;
}

.nav-menu a:hover::after,
.nav-menu .active::after{
  width: 100%;
}

.nav-menu a:hover{
  color: #ffa500;
}

/* BUTTONS */

.login-btn,
.signup-btn{
  padding: 11px 22px;
  border: none;
  outline: none;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.login-btn{
  background: transparent;
  border: 2px solid white;
  color: white;
}

.login-btn:hover{
  background: white;
  color: #0a235a;
}

.signup-btn{
  background: #ffa500;
  color: white;
}

.signup-btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(255,165,0,0.5);
}

/* =========================
   RESPONSIVE NAVBAR
========================= */

.menu-icon{
  display:none;
  font-size:28px;
  color:white;
  cursor:pointer;
}


/* MOBILE */
@media(max-width:768px){

  .navbar{
    padding:15px 20px;
    position:relative;
  }

  .menu-icon{
    display:block;
  }

  .nav-menu{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:#0d2a6b;

    display:none;
    flex-direction:column;
    align-items:center;
    gap:20px;

    padding:20px 0;
    z-index:999;
  }

  .nav-menu.active{
    display:flex;
  }

  .nav-menu a{   
    font-size:18px;
  }

  .login-btn,
  .signup-btn{
    width:140px;
  }

  .logo h2{
    font-size:20px;
  }

  .logo span{
    font-size:12px;
  }

}
  
/* MAIN LAYOUT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
 
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #0f172a;
}

/* Animated background */
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #1e3c72, #2a5298, #00c6ff);
  background-size: 300% 300%;
  animation: moveBg 10s infinite ease-in-out;
  z-index: -1;
  filter: blur(40px);
}

@keyframes moveBg {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* CENTER CARD */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* GLASS CARD */
.card {
  width: 100%;
  max-width: 600px;
  min-height: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 18px;
  padding: 40px 30px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  color: white;
  text-align: center;
  animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(30px);}
  to {opacity: 1; transform: translateY(0);}
}

/* TEXT */
.card h2 {
  font-size: 32px;
}

.card p {
  font-size: 24px;
  opacity: 0.8;
  margin-bottom: 25px;
}

/* INPUT BOX (FLOAT LABEL) */
.input-box {
  position: relative;
  margin-bottom: 30px;
}

.input-box input {
  width: 100%;
  padding: 16px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  outline: none;
  color: white;
  font-size: 18px;
}

.input-box label {
  position: absolute;
  left: 12px;
  top: 14px;
  color: rgba(255,255,255,0.6);
  transition: 0.3s;
  pointer-events: none;
}

/* FLOAT EFFECT */
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -10px;
  font-size: 16px;
  color: #4397ae;
}

/* BUTTON */
button {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  background: #00c6ff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2a5298;
  color: white;
}

/* LINK */
.link {
  margin-top: 15px;
  font-size: 13px;
}

.link a {
  color: #00c6ff;
  text-decoration: none;
  font-weight: bold;
}

/* 📱 MOBILE */
@media (max-width: 480px) {
  .card {
    padding: 30px 20px;
  }

  .card h2 {
    font-size: 22px;
  }
}


/* TOGGLE */
.menu-toggle {
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: block;
}

/* DROPDOWN MENU */

.login-btn {
  text-align: center;

}

.signup-btn {
  text-align: center;
  
}

.nav-links {

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #111;
  display: none;
  flex-direction: column;
  text-align: center;
}

.nav-links li {
  padding: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* ACTIVE */
.nav-links.active {
  display: flex;
}



 
/* course */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f4f7fb;
  text-align: center;
}

header {
  background: #0d47a1;
  color: white;
  padding: 30px 20px;
}

header h1 {
  font-size: 30px;
}

header p {
  margin-top: 5px;
}

/* COURSE GRID */
.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
}

/* CARD */
.course-card {
  background: white;
  padding: 50px 50px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-8px);
}

.course-card h2 {
  margin-bottom: 10px;
  color: #0d47a1;
  font-size: 30px;
}

.course-card p {
  font-size: 20px;
  margin-bottom: 10px;
  color: #555;
}

.price {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
}

/* Student Dashboard */

/* DASHBOARD */
.dashboard {
  padding: 50px 20px;
  text-align: center;
}

#dashboardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.dashboard p {
  font-size: 18px;
}

@media (max-width: 768px) {

  .nav-actions {
    display: flex;
  }

  .nav-links {
    top: 80px;
  }

  .nav-links li {
    padding: 15px;
  }
}


/* =========================
   HERO SLIDER
========================= */

.hero-slider{
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

/* EACH SLIDE */

.hero-slide{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-slide.active{
  opacity: 1;
  z-index: 1;
}

/* IMAGE */

.hero-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(55%);
}

/* CONTENT */

.hero-content h1{

  font-size: 52px;
  font-weight: 700;
  line-height: 1.1;

  color: #ffffff;

  margin-bottom: 20px;

  letter-spacing: -2px;

  text-shadow: 0 5px 20px rgba(0,0,0,0.35);

}

.hero-content{
  position: absolute;
  top: 80%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
  max-width: 650px;

  animation: fadeUp 1s ease;
}


/* BUTTONS */

.hero-buttons{
  display: flex;
  gap: 18px;
}

.hero-btn{
  padding: 15px 34px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.primary-btn{
  background: #ff9800;
  color: white;
}

.primary-btn:hover{
  background: #ffb733;
}

.secondary-btn{
  border: 2px solid white;
  color: white;
}

.secondary-btn:hover{
  background: white;
  color: black;
}

/* ARROWS */

.prev,
.next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background: rgba(255,255,255,0.18);
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 5;
  backdrop-filter: blur(8px);
}

.prev{
  left: 25px;
}

.next{
  right: 25px;
}

/* DOTS */

.slider-dots{

  position: absolute;

  bottom: 30px;

  left: 50%;

  transform: translateX(-50%);

  display: flex;

  gap: 12px;

  z-index: 100;
}

/* SINGLE DOT */

.dot{

  width: 12px;
  height: 12px;

  border-radius: 50%;

  background: rgba(255,255,255,0.5);

  cursor: pointer;

  transition: 0.4s;
}

/* ACTIVE DOT */

.dot.active{

  width: 35px;

  border-radius: 20px;

  background: #ff9800;
}
/* ANIMATION */

@keyframes fadeUp{

  from{
    opacity: 0;
    transform: translateY(40px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }

}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media(max-width:768px){

  .hero-slider{
    height: 82vh;
  }

  .hero-slide img{
    object-fit: cover;
    object-position: center;
  }

  .hero-content{
    left: 5%;
    right: 5%;
    max-width: 70%;
    top: 80%;
  }

  .hero-content span{
    font-size: 11px;
    padding: 8px 14px;
  }

  .hero-content h1{
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 18px;
  }

  .hero-content p{
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 25px;
  }

  .hero-buttons{
    flex-direction: column;
    width: 220px;
  }

  .hero-btn{
    text-align: center;
    padding: 13px 20px;
    font-size: 14px;
  }

  .prev,
  .next{
    width: 42px;
    height: 42px;
    font-size: 18px;
    top: 58%;
  }

  .prev{
    left: 10px;
  }

  .next{
    right: 10px;
  }

}

/* third section */
/* =========================
   FEATURES SECTION
========================= */
/* =========================
   FEATURES SECTION
========================= */

.features {
  padding: 90px 8%;
  background: linear-gradient(135deg, #f5f7ff, #eef2ff);
  text-align: center;

  /* animation */
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}

/* when visible */
.features.show {
  opacity: 1;
  transform: translateY(0);
}

/* heading */
.features h2 {
  font-size: 42px;
  color: #0f172a;
  margin-bottom: 60px;
  font-weight: 700;
}

/* cards */
.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.feature {
  background: white;
  padding: 35px 25px;
  border-radius: 20px;
  transition: 0.4s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.feature i {
  font-size: 42px;
  color: #f59e0b;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #0f172a;
}

.feature p {
  color: #475569;
  line-height: 1.7;
}

/* mobile */
@media(max-width:768px){

  .features{
    padding: 70px 20px;
  }

  .features h2{
    font-size: 32px;
  }

}

/* =========================
   WHY US SECTION
========================= */

.why-us{

  padding: 90px 8%;

  background: linear-gradient(
    135deg,
    #0d1b3d,
    #132d5e
  );

  display: flex;

  flex-direction: column;

  gap: 25px;
}


/* BOX */

.why-box{

  background: rgba(255,255,255,0.08);

  border: 1px solid rgba(255,255,255,0.1);

  backdrop-filter: blur(10px);

  border-radius: 20px;

  padding: 28px 35px;

  display: flex;

  align-items: center;

  gap: 25px;

  transition: 0.4s ease;
}


/* HOVER */

.why-box:hover{

  transform: translateX(10px);

  background: rgba(255,255,255,0.12);
}


/* ICON */

.why-icon{

  min-width: 80px;
  height: 80px;

  border-radius: 50%;

  background: linear-gradient(
    135deg,
    #ff9800,
    #ffb74d
  );

  display: flex;

  align-items: center;

  justify-content: center;
}


.why-icon i{

  font-size: 34px;

  color: white;
}


/* TEXT */

.why-text h3{

  font-size: 26px;

  color: white;

  margin-bottom: 8px;

  font-weight: 600;
}


.why-text p{

  color: rgba(255,255,255,0.8);

  line-height: 1.7;

  font-size: 15px;
}


/* MOBILE */

@media(max-width:768px){

  .why-us{

    padding: 70px 5%;
  }

  .why-box{

    flex-direction: column;

    text-align: center;

    padding: 30px 20px;
  }

  .why-text h3{

    font-size: 22px;
  }

}

.testimonials {
  padding: 80px 20px;
  text-align: center;
}

.slider-container {
  width: 80%;
  max-width: 900px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.slide {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: none;
  border-radius: 12px;
}

.slide.active {
  display: block;
}

/* DOTS CONTAINER */
.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

/* DOT */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

/* ACTIVE DOT */
.dot.active {
  background: #ff9800;
  transform: scale(1.2);
}

 /* =========================
   CTA SECTION
========================= */

.cta{

  position: relative;

  padding: 110px 8%;

  text-align: center;

  overflow: hidden;

  background: linear-gradient(
     135deg,
       #0d2c6c,
    #1e3f8a
  );
}


/* GLOW EFFECT */

.cta::before{

  content: "";

  position: absolute;

  width: 450px;
  height: 450px;

  background: rgba(255,152,0,0.18);

  border-radius: 50%;

  top: -120px;
  left: -120px;

  filter: blur(80px);
}
  


.cta::after{

  content: "";

  position: absolute;

  width: 350px;
  height: 350px;

  background: rgba(255,255,255,0.08);

  border-radius: 50%;

  bottom: -120px;
  right: -120px;

  filter: blur(70px);
}


/* CONTENT */

.cta h2{

  position: relative;

  font-size: 56px;

  color: white;

  font-weight: 700;

  margin-bottom: 20px;

  z-index: 2;
}


.cta p{

  position: relative;

  font-size: 20px;

  color: rgba(255,255,255,0.85);

  margin-bottom: 40px;

  z-index: 2;
}


/* BUTTON */

.cta .btn{

  position: relative;

  display: inline-flex;

  align-items: center;

  justify-content: center;

  padding: 18px 42px;

  background: linear-gradient(
    135deg,
    #ff9800,
    #ffb547
  );

  color: white;

  font-size: 18px;

  font-weight: 600;

  text-decoration: none;

  border-radius: 50px;

  transition: 0.4s ease;

  box-shadow: 0 12px 35px rgba(255,152,0,0.35);

  z-index: 2;
}


/* BUTTON HOVER */

.cta .btn:hover{

  transform: translateY(-5px) scale(1.03);

  box-shadow: 0 18px 45px rgba(255,152,0,0.45);
}


/* MOBILE */

@media(max-width:768px){

  .cta{

    padding: 80px 5%;
  }

  .cta h2{

    font-size: 36px;

    line-height: 1.3;
  }

  .cta p{

    font-size: 17px;
  }

  .cta .btn{

    padding: 15px 32px;

    font-size: 16px;
  }

}
/* Footer */

.footer {
  background: #0b1d3a;
  color: #ccc;
  padding: 60px 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.footer-col {
  flex: 1;
  min-width: 220px;
}

.footer-col h3,
.footer-col h2 {
  color: white;
  margin-bottom: 15px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #ff9800;
}

/* SOCIAL ICONS */
.socials {
  margin-top: 15px;
}

.socials a {
  display: inline-block;
  margin-right: 10px;
  background: #1e3c72;
  padding: 10px;
  border-radius: 50%;
  color: white;
  transition: 0.3s;
}

.socials a:hover {
  background: #ff9800;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
}

/* OVERLAY */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.popup-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* BOX */
.popup-box {
  display: flex;
  width: 700px;
  max-width: 95%;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0,0,0,0.3);

  transform: scale(0.9);
  transition: 0.3s;
}

.popup-overlay.active .popup-box {
  transform: scale(1);
}

/* LEFT SIDE */
.popup-left {
  background: linear-gradient(135deg, #0d47a1, #1976d2);
  color: white;
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-left h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.popup-left img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  display: flex;

}

/* RIGHT SIDE */
.popup-right {
  flex: 1;
  padding: 30px;
  position: relative;
}


/* CLOSE */
.close-btn {
 position: absolute;
  top: 2px;
  right: 15px;
  width: 35px !important;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(0, 0, 0,0.05);
  transition: 0.3s;
  padding: 0;

}

.close-btn:hover {
  background: #ff9800;
  color: white;
  transform: rotate(90deg);
}


/* INPUT GROUP */
.input-group {
  position: relative;
  margin: 20px 0;
}

.input-group input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

.input-group label {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #777;
  font-size: 18px;
  transition: 0.3s;
  background: white;
  padding: 0 5px;
}

/* FLOAT EFFECT */
.input-group input:focus + label,
.input-group input:valid + label {
  top: -8px;
  font-size: 20px;
  color: #0d47a1;
}

.popup-right p {
  font-size: 18px;
}

/* BUTTON */
.popup-right button {
  width: 100%;
  padding: 12px;
  background: #ff9800;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.popup-right button:hover {
  background: #e68900;
}

/* NOTE */
.note {
  font-size: 13px;
  margin-top: 10px;
  color: #666;
}

/* MOBILE */
@media (max-width: 400px) {
  .popup-box {
    flex-direction: column;
    
  }

  .popup-left {
    display: none; /* clean mobile UI */
  }
}

/* =========================
   DASHBOARD LAYOUT
========================= */

.dashboard-layout{
  display:flex;
  min-height:100vh;
  background:#f4f7fc;
}



/* =========================
   SIDEBAR
========================= */

.sidebar{
  width:270px;
  background:#0b2c6a;
  color:white;
  padding:30px 20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  position:fixed;
  left:0;
  top:0;
  bottom:0;
}

.sidebar-top{
  text-align:center;
}

.sidebar-top img{
  width:80px;
  height:80px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:15px;
}

.sidebar-top h2{
  font-size:28px;
}

.sidebar-top p{
  color:#ccc;
  margin-top:5px;
}

.sidebar-menu{
  margin-top:40px;
  display:flex;
  flex-direction:column;
  gap:12px;
}

.sidebar-menu a{
  color:white;
  text-decoration:none;
  padding:14px 18px;
  border-radius:10px;
  transition:0.3s;
  font-size:17px;
}

.sidebar-menu a i{
  margin-right:10px;
}

.sidebar-menu a:hover{
  background:#ffb000;
}

.logout-btn{
  width:100%;
  padding:14px;
  border:none;
  background:#ffb000;
  color:white;
  border-radius:10px;
  cursor:pointer;
  font-size:16px;
  font-weight:600;
}



/* =========================
   MAIN DASHBOARD
========================= */

.main-dashboard{
  margin-left:270px;
  width:100%;
  padding:40px;
}



/* =========================
   TOPBAR
========================= */

.topbar{
  margin-bottom:40px;
}

.topbar h1{
  font-size:42px;
  color:#0b2c6a;
}

.topbar p{
  color:#666;
  margin-top:10px;
}



/* =========================
   OVERVIEW
========================= */

.overview-cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.overview-card{
  background:white;
  padding:35px;
  border-radius:18px;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
  text-align:center;
}

.overview-card i{
  font-size:45px;
  color:#ffb000;
  margin-bottom:20px;
}

.overview-card h2{
  font-size:38px;
  color:#0b2c6a;
}

.overview-card p{
  color:#666;
}



/* =========================
   SECTION
========================= */

.dashboard-section{
  margin-top:70px;
}

.section-title h2{
  font-size:34px;
  color:#0b2c6a;
  margin-bottom:30px;
}



/* =========================
   COURSES
========================= */

.course-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
}



/* =========================
   FACULTY
========================= */

.faculty-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
}

.faculty-card{
  background:white;
  border-radius:18px;
  overflow:hidden;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
  text-align:center;
}

.faculty-card img{
  width:100%;
  height:260px;
  object-fit:cover;
}

.faculty-card h3{
  margin-top:20px;
  color:#0b2c6a;
}

.faculty-card p{
  margin:15px 0 25px;
  color:#666;
}



/* =========================
   DEMO
========================= */

.demo-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
}

.demo-card{
  background:white;
  padding:40px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.demo-card i{
  font-size:55px;
  color:#ffb000;
  margin-bottom:20px;
}

.demo-card h3{
  margin-bottom:20px;
  color:#0b2c6a;
}

.demo-card button{
  padding:12px 24px;
  border:none;
  background:#0b2c6a;
  color:white;
  border-radius:8px;
  cursor:pointer;
}



/* =========================
   PERFORMANCE
========================= */

.performance-box{
  background:white;
  padding:35px;
  border-radius:18px;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.progress-item{
  margin-bottom:25px;
}

.progress-item p{
  margin-bottom:10px;
  font-weight:600;
}

.progress-bar{
  width:100%;
  height:12px;
  background:#ddd;
  border-radius:20px;
  overflow:hidden;
}

.progress-bar span{
  display:block;
  height:100%;
  background:#ffb000;
  border-radius:20px;
}



/* =========================
   PROFILE
========================= */

.profile-card{
  background:white;
  padding:40px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.profile-card img{
  width:100px;
  height:100px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:20px;
}

.profile-card h3{
  color:#0b2c6a;
  margin-bottom:10px;
}

.profile-card p{
  color:#666;
}



/* =========================
   MOBILE
========================= */

@media(max-width:900px){

  .sidebar{
    width:100%;
    height:auto;
    position:relative;
  }

  .main-dashboard{
    margin-left:0;
    padding:20px;
  }

  .dashboard-layout{
    flex-direction:column;
  }

}