/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* COLORS */
:root {
  --primary: #0d47a1;
  --secondary: #ff9800;
  --dark: #111;
  --light: #f5f5f5;
  --white: #fff;
}

html,
body {
  overflow-x: hidden;
}

/* GLOBAL */
body {
  background: var(--light);
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: var(--primary);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 1000;
  flex-wrap: wrap;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-left img {
  width: 45px;
  border-radius: 50%;
}

.nav-left span {
  font-weight: 600;
  font-size: 18px;
}

.nav-links {
  margin-bottom: ;
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--secondary);
}

.nav-links li a.btn {
  background: #ff9800;
  padding: 6px 12px;
  border-radius: 4px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.logo img {
  width: 55px;
  border-radius: 80%;
  object-fit: cover;
  margin-right: 35px;
  margin-left: -15px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 70vh;
  background: url("assests/images/classroom.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 100px;
  text-align: center;
  border-radius: 10px;
  color: var(--white);
  z-index: 2;
}

.hero-overlay h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 18px;
}

.overlay div {
  font-size: 20px;
  font-style: bold;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: var(--secondary);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #e68900;
}

/* third section */

.features {
  padding: 80px 20px;
  text-align: center;
  background: #f9fbff;
}

.features h2 {
  font-size: 32px;
  margin-bottom: 50px;
}

.features-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.feature {
  background: white;
  padding: 30px;
  width: 260px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.feature i {
  font-size: 40px;
  color: #0d47a1;
  margin-bottom: 15px;
}

.feature:hover {
  transform: translateY(-10px);
}

.stats {
  background: #0d47a1;
  color: white;
  padding: 60px 20px;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  text-align: center;
}

.stat h2 {
  font-size: 40px;
}

.stat p {
  margin-top: 5px;
}

.testimonials {
  padding: 80px 20px;
  text-align: center;
}

.testimonial-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial {
  background: white;
  padding: 25px;
  width: 260px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.cta {
  background: linear-gradient(135deg, #0d47a1, #1976d2);
  color: white;
  text-align: center;
  padding: 70px 20px;
}

.cta h2 {
  font-size: 32px;
}

.cta p {
  margin: 10px 0 20px;
}

/* Footer */

.footer {
  background: #0b1d3a;
  color: #ccc;
  padding: 60px 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.footer-col {
  flex: 1;
  min-width: 220px;
}

.footer-col h3,
.footer-col h2 {
  color: white;
  margin-bottom: 15px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #ff9800;
}

/* SOCIAL ICONS */
.socials {
  margin-top: 15px;
}

.socials a {
  display: inline-block;
  margin-right: 10px;
  background: #1e3c72;
  padding: 10px;
  border-radius: 50%;
  color: white;
  transition: 0.3s;
}

.socials a:hover {
  background: #ff9800;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
}